.titleAd {
    padding-left: 0;
}

.adCardOptions {
    font-size: 140%;
}

.titleAdContainer {
    margin: 0;
}

.adFontSize {
    font-size: 120%;
}

.ad-image {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
}

.subTitleBlock {
    display: flex;
    align-items: center;
}

.heartBtnPage {
    border: none;
    background-color: transparent;
}

.heartBtnPage svg {
    width: 42px;
    height: 42px;
}