.NavBar {
    background-color: rgba(101, 143, 215);
    padding: .7%;
}

.NavButton-title {
    color: white; /* колір тексту посилань */
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    transition: color 0.3s, font-size 0.3s; /* плавна зміна кольору та розміру тексту протягом 0.3 секунд */
}

.NavBar a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.NavBar .NavButton {
    background-color: transparent; /* прозорий фон для кнопок */
    border: none; /* видалення меж кнопок */
    color: white; /* колір тексту кнопок */
    font-weight: bold; /* жирний шрифт для кнопок */
}

.NavBar .NavButton:hover {
    background-color: rgba(255, 255, 255, 0.1); /* зміна кольору фону при наведенні курсору */
}
